body
{
background-color:#99c4fe;
text-align:justify;
}
h2 {
text-decoration:underline;
}
.one
{
border-width:5px;
border-style:solid;
border-color:blue;
}
.two
{
border-style:solid;
border-color:#98bf21;
}
.a {font-style:italic;}